.trade-container {
    height: 100%;
    background-color: #F1F3F5;
    display: grid;
    gap: 8px;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 4fr 4fr 3fr;
    padding: .8rem;
}

.container-c {
    padding: 4px;
}

.info {
    background-color: #fff;
}

.mazanneh {
    background-color: #fff;
}

.watch {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: #fff;
}

.exchange {
    background-color: #fff;
}

.chart {
    background-color: #fff;
}

.portfoy {
    grid-column: 1 / -1;
    background-color: #fff;
}