<div class="trade-container">
  <div class="info container-c">
    <app-d-info></app-d-info>
  </div>
  <div class="mazanneh container-c">
    <app-d-mazanneh></app-d-mazanneh>
  </div>
  <div class="watch container-c">
    <app-d-watchlist></app-d-watchlist>
  </div>
  <div class="exchange container-c">
    <app-d-exchange></app-d-exchange>
  </div>
  <div class="chart container-c">
    <app-d-chrt></app-d-chrt>
  </div>
  <div class="portfoy container-c">
    <app-d-portfoy></app-d-portfoy>
  </div>
</div>
