.header {
    gap: 1px;
    flex-grow: 1;
}

.header-right .header-item {
    background-color: #63E6BE;
}

.header-item {
    padding: .8rem 1.2rem;
    flex-grow: 1;
}

.header-right {
    border-bottom: 2px solid #12B886;
}

.header-right .header-item:first-child {
    border-top-right-radius: 4px;
}

.header-left {
    border-bottom: 2px solid #FA5252;
}

.header-left .header-item {
    background-color: #FFA8A8;
}

.header-left .header-item:last-child {
    border-top-left-radius: 4px;
}

.body {
    flex-basis: 50%;
}

.body-right {
    border-bottom-right-radius: 4px;
}

.body-item {
    justify-content: space-between;
    font-size: 1.2rem;
}