<div class="mazanneh-container flex flex-column h-100">
  <!-- HEADER -->
  <div class="flex mazanneh-header-container align-center">
    <div class="header header-right flex align-center h-100 w-50">
      <p class="header-item header-count">تعداد</p>
      <p class="header-item header-volume">حجم</p>
      <p class="header-item header-price">قیمت</p>
    </div>
    <div class="header header-left flex align-center h-100 w-50">
      <p class="header-item header-price">قیمت</p>
      <p class="header-item header-volume">حجم</p>
      <p class="header-item header-count">تعداد</p>
    </div>
  </div>
  <!-- BODY -->
  <div class="flex flex-gap-4 h-100">
    <div class="body body-right flex flex-column h-100">
      <div class="body-item flex h-100" *ngFor="let item of mazanneh">
        <div
          class="background-bar background-bar-right h-100"
          [style.width.%]="getSupplyBackgroundWidth(item.supplyVolume)"
        ></div>
        <p class="body-item-text body-item-count">{{ item.numberOfSupply }}</p>
        <p class="body-item-text body-item-volume-right">
          {{ item.supplyVolume }}
        </p>
        <p class="body-item-text body-item-price">{{ item.supplyPrice }}</p>
      </div>
    </div>
    <div class="body body-left flex flex-column h-100">
      <div class="body-item flex h-100" *ngFor="let item of mazanneh">
        <div
          class="background-bar background-bar-left h-100"
          [style.width.%]="getDemandBackgroundWidth(item.demandVolume)"
        ></div>
        <p class="body-item-text body-item-price">{{ item.demandPrice }}</p>
        <p class="body-item-text body-item-volume-left">
          {{ item.demandVolume }}
        </p>
        <p class="body-item-text body-item-count">{{ item.numberOfDemand }}</p>
      </div>
    </div>
  </div>
</div>
