.info-container {
    /* gap: 4px; */
    height: 100%;
}

.search-box {
    gap: 4px;
    /* height: 100%; */
    /* flex-grow: 0; */
}

.search-input-box {
    flex-basis: 100%;
    padding: .2rem 1.2rem;
    position: relative;
}

.search-input {
    outline: none;
    border: none;
    width: 100%;
}

.search-result {
    background-color: #fff;
    font-size: 1.4rem;
    position: absolute;
    top: 110%;
    right: 0;
    width: 100%;
    max-height: 150px;
    overflow: auto;
}

.search-result-item {
    padding: .8rem .4rem;
}

.search-result-item:hover {
    background-color: #F1F3F5;
    cursor: pointer;
}

.symbol {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
}

.company-name {
    font-size: 1.2rem;
    color: #666;
}

.search-input::placeholder {
    color: #444;
    font-weight: 600;
}

.stock-company-name {
    font-size: 1.4rem;
}

.last-exchange {
    /* height: 100%; */
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .089);
}

.last-trade-title {
    font-size: 1.4rem;
}

.last-price {
    font-size: 1.4rem;
    font-weight: 500;
}

.date-box {
    /* gap: 2rem; */
}

.date-box p {
    font-size: 1.2rem;
}

.info-box {
    height: 100%;
    column-gap: 4px;
}

.bg-gray {
    background-color: #F1F3F5;
}

.info-items {
    border: none;
    border-radius: 4px;
    padding: 0 1.2rem;
    font-size: 1.2rem;
    align-items: center;
}