<div class="grid grid-2 grid-gap-16 p-3">
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="item-title">کد سهامداری</p>
    <p class="value">{{ user.id }}</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="item-title">نام و نام خانوادگی</p>
    <p class="value">{{ user.firstName }} {{ user.lastName }}</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="item-title">نام کاربری</p>
    <p class="value">{{ user.username }}</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="item-title">کد ملی</p>
    <p class="value">{{ user.username }}</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="item-title">پستت الکترونیک</p>
    <p class="value">{{ user.email }}</p>
  </div>
</div>
