<div class="grid grid-2 grid-gap-16 p-3">
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
  <div
    class="flex flex-column flex-gap-8 align-center justify-center info-card shadow-1"
  >
    <p class="title">تست</p>
    <p class="value">تست</p>
  </div>
</div>
