<div class="exchange-container flex flex-column flex-gap-12 justify-center">
  <div class="buttons flex flex-gap-4">
    <button
      class="btn-c"
      (click)="formType(true)"
      [ngClass]="{
        'btn-buy-fill': isBuyMode,
        'btn-buy-out': !isBuyMode
      }"
    >
      خرید
    </button>
    <button
      class="btn-c"
      (click)="formType(false)"
      [ngClass]="{
        'btn-sell-fill': !isBuyMode,
        'btn-sell-out': isBuyMode
      }"
    >
      فروش
    </button>
  </div>
  <form
    [formGroup]="tradeForm"
    class="form-container h-100 flex flex-column h-100"
  >
    <div class="form-inputs flex flex-column h-100">
      <div class="flex flex-gap-4 form-item">
        <div class="inc-dec">
          <button class="inc" (click)="increasePrice()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="inc-dec-icon"
            >
              <path
                fill-rule="evenodd"
                d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button class="dec" (click)="decreadePrice()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ADB5BD"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="inc-dec-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 12h14"
              />
            </svg>
          </button>
        </div>
        <div
          class="input-box"
          [ngClass]="{ 'is-invalid': !tradeForm.controls['price'].valid }"
        >
          <div class="label-container">
            <label for="price">قیمت</label>
            <svg
              *ngIf="!tradeForm.controls['price'].valid"
              [matTooltip]="priceTooltipMessage"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#FA5252"
              class="exclamation-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
              />
            </svg>
          </div>
          <input
            #price
            type="number"
            min="0"
            id="price"
            class="input"
            placeholder="0"
            name="price"
            formControlName="price"
          />
        </div>
      </div>
      <div class="flex flex-gap-4 form-item">
        <div class="inc-dec">
          <button class="inc" (click)="changecount(10)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="inc-dec-icon"
            >
              <path
                fill-rule="evenodd"
                d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button class="dec" (click)="changecount(-10)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ADB5BD"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="inc-dec-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 12h14"
              />
            </svg>
          </button>
        </div>
        <div class="input-box">
          <label for="count">تعداد</label>
          <input
            #count
            type="number"
            id="count"
            min="0"
            class="input"
            placeholder="0"
            name="count"
            formControlName="count"
          />
        </div>
      </div>
      <div class="flex flex-gap-4 form-item total-price-box">
        <div class="input-box input-total-price">
          <label for="total-price">مبلغ کل</label>
          <input
            #totalPrice
            type="number"
            id="total-price"
            min="0"
            class="input"
            placeholder="0"
            readonly
            name="totalPrice"
            formControlName="totalPrice"
          />
        </div>
      </div>
      <div class="flex flex-gap-8 form-item form-buttons">
        <button
          type="submit"
          class="btn-c btn-submit"
          [ngClass]="{
            'btn-buy-fill': isBuyMode,
            'btn-sell-fill': !isBuyMode
          }"
        >
          ارسال
        </button>
      </div>
    </div>
  </form>
</div>
