.exchange-container {
    height: 100%;
    padding: .4rem;
}

.buttons {
    height: 20%;
}

.form-container {
    height: 80%;
}

.btn-c {
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    border-radius: 0.8rem;
    border: none;
    transition: all 300ms;
    background-color: transparent;
}

.btn-buy-fill {
    border: 1px solid #087f5b;
    background-color: #12B886;
    color: #fff;
}

.btn-buy-out {
    border: 1px solid #087f5b;
    background-color: #fff;
    color: #087F5B;
}

.btn-buy-out .btn-buy:focus {
    background-color: #20c997;
}

.btn-sell-fill {
    border: 1px solid #C92A2A;
    background-color: #C92A2A;
    color: #fff;
}

.btn-sell-out {
    border: 1px solid #C92A2A;
    background-color: #fff;
    color: #C92A2A;
}

.form-inputs {
    color: #444;
    margin: 0;
}

.form-item {
    height: 20%;
    flex-grow: 1;
    font-size: 1.2rem;
}

.inc-dec {
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.inc,
.dec {
    width: 100%;
    height: 50%;
    padding: 0 8px;
    border: 1px solid #444;
    text-align: center;
    align-content: center;
}

.inc {
    border-top-right-radius: 6px;
}

.dec {
    border-bottom-right-radius: 6px;
}

.inc-dec-icon {
    width: 1rem;
    height: 1rem;
}

.input-box {
    width: 100%;
    border: 1px solid #ADB5BD;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.total-price-box {}

.input-total-price {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.input {
    height: 100%;
    color: #444;
    border: none;
    background-color: transparent;
    outline: none;
    direction: ltr;
    padding: 0;
    margin: 0;
}

.input:focus {
    outline: none;
}

label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-cancle {
    border: 1px solid #ADB5BD;
    color: #777;
    font-weight: normal;
    font-size: 1.6rem;
}