.header {
    background-color: #5F3DC4;
    padding: .2rem .8rem;
}

span,
p {
    font-size: 1.2rem;
    color: #fff;
}

.logo {
    font-size: 1.4rem;
}

.icons {
    width: 2rem;
    height: 2rem;
}

.icon-exchange {
    width: 1.2rem;
    height: 1.2rem;
}

.profile-text {
    font-size: 1rem;
}

.time-container {
    color: #fff;
    font-size: 1.2rem;
    align-content: center;
    text-align: end;
    padding: 0 .8rem;
}

.time-icons {
    width: 1.5rem;
    height: 1.5rem;
}